@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

/* ul {
    @apply list-disc;
    margin: 10;
    padding: 10;
} */

ol, ul {
    list-style: disc;
    margin: auto !important;
    padding: revert !important;
}
